<style>
  .dialogue-box {
    border: 3px solid blue;
    height: 100%;
  }

  .animate-switch-container {
    position:relative;
    background:white;
    border:1px solid black;
    /*height:40px;*/
    overflow:scroll;
  }

  .animate-switch {
    padding:10px;
  }

  .animate-switch.ng-animate {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  .animate-switch.ng-leave.ng-leave-active,
  .animate-switch.ng-enter {
    top:-50px;
  }
  .animate-switch.ng-leave,
  .animate-switch.ng-enter.ng-enter-active {
    top:0;
  }

</style>

<div class="dialogue-box animate-switch-container" ng-switch="model.dialogue_position">

  <div ng-switch-when="0" class="animate-switch">
    <h2>Introduction</h2>
    <p>As part of my application for the role of Front-End Developer, I submit this single-page application. This application pulls data from a few JSON feeds (sources appear at the end of the presentation) and attempts to "tell a meaningful story".</p>
    <p>After browsing the suggested data sources (all of which are provided by <a href="http://catalog.data.gov">catalog.data.gov</a>), I decided to focus my research on opioid-related deaths in the United States.</p>
  </div>

  <div ng-switch-when="1" class="animate-switch">
    <h2>About the "Opioid Epidemic"</h2>
    <p>The U.S. Department of Health and Human Services refers to this phenomenon as the "Opioid Epidemic" <a href="https://www.hhs.gov/opioids/about-the-epidemic/">on its page on the topic</a>.</p>
    <p>
      If you Google <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=opioid+epidemic">"opioid epidemic"</a>, you can see that the topic has been written about by such sources as
      <a href="http://www.economist.com/blogs/graphicdetail/2017/03/daily-chart-3">The Economist</a>,
      <a href="https://www.cdc.gov/drugoverdose/epidemic/">the Center for Disease Control and Prevention</a>,
      <a href="http://www.bbc.com/future/story/20170302-chelsea-clinton-america-is-suffering-an-opioid-epidemic">BBC</a>,
      <a href="http://www.washingtonpost.com/sf/national/2016/12/17/orphaned-by-americas-opioid-epidemic/?utm_term=.71a83d2ba36d">the Washington Post</a>,
      <a href="https://www.nytimes.com/2017/01/06/us/opioid-crisis-epidemic.html?_r=0">the New York Times</a>, and
      <a href="http://www.cnn.com/2016/05/11/health/sanjay-gupta-prescription-addiction-doctors-must-lead/">CNN</a>.
    </p>
    <p>
      Here are
        <a href="https://www.c-span.org/video/?418535-1/opioid-epidemic">five</a>
        <a href="https://www.c-span.org/video/?407080-1/michael-botticelli-testimony-opioid-epidemic">videos</a>
        <a href="https://www.c-span.org/video/?407364-1/issue-spotlight-opioid-addiction-us">on</a>
        <a href="https://www.c-span.org/video/?424937-3/senator-rob-portman-speaks-opioid-epidemic-ohio">the</a>
        <a href="https://www.c-span.org/video/?417303-1/newt-gingrich-van-jones-patrick-kennedy-discuss-opioid-epidemic">subject</a>
        by CSPAN.
    </p>

  </div>

  <div ng-switch-when="2" class="animate-switch">
    <p>
      So there's a lot of commentary on this subject. There's probably lots of fascinating socioeconomic implications of this phenomenon.
      Smarter people than me have said plenty about it, and I implore you to research the topic.
      People die from opioid overdoses every day, and it is a tragedy.
    </p>
    <p>
        <b>That said</b>, I'm not really here to provide any kind of in-depth analysis.
        I don't have any groundbreaking theories or meaningful political analysis on this subject.
        If you've already heard of the opioid epidemic, then I won't be telling you anything you don't already know.
        I'm not a historian, a sociologist, or a statistician. I'm simply here to demonstrate my ability to
        deploy a single-page website that can make REST-based API calls using AngularJS.
    </p>
  </div>


  <div ng-switch-when="3" class="animate-switch">
    <h2>Presentation Format</h2>
    <p>
      At first I wasn't sure how I would format this presentation. I did some research, and found
      <a href="http://www.vox.com/a/how-the-us-is-changing">this</a> article on <i>Vox</i>.
      The format of the article is:
    </p>
    <ul>
      <li>Make an assertion.</li>
      <li>Present a graph that supports that assertion</li>
      <li>Provide commentary that elaborates on the graph and maybe even makes further assertions based on the graphed data.</li>
    </ul>
    <p>
      Seems like a good model. I have one minor adjustment, however.
    </p>
    <p>
        Like I said a moment ago, I'm not here to make assertions. Let's instead call it a <i>hypothesis</i>. I'll make a claim, we'll query some data, and we'll see if the data supports that claim.
    </p>
  </div>


  <div ng-switch-when="4" class="animate-switch">
    <h2> Hypothesis: The Opioid Overdose Epidemic Especially Affects White Americans </h2>
    <p>
      I think I first heard this theory on C-SPAN. The idea was at least floating around in my head when I was thinking about forming a hypothesis.
      I did a bit of <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=opioid+epidemic+demographics&*">Googling</a>
      and confirmed that this idea didn't come from nowhere.
    </p>
    <p>
      <a href="http://www.modernhealthcare.com/article/20160227/MAGAZINE/302279871">This</a> article by Modern Healthcare asserts that
      the rate of opioid-related deaths has increased at a higher rate for white Americans than for minority groups.
    </p>
    <p>
      <a href="https://www.fda.gov/downloads/drugs/newsevents/ucm300859.pdf">This</a> slideshow, created by (someone at) the FDA,
      claims that low-income white males, roughly between the ages of 25-54, are an at-risk group.
    </p>
  </div>

  <div ng-switch-when="5" class="animate-switch">
    <h2>Disclaimer</h2>
    <p>
      Now, I haven't built the part of the website that queries data yet. I'm writing this page on the fly.
      So before we get into any numbers, I'd like to remind you that this application is just an exercise in web development.
      I don't think I'm smarter than the FDA or CDC or anyone who researches this stuff for a living. If my data comes back and seemingly
      disproves the hypothesis, <i>that's not me saying that these people are wrong</i>. Likewise, if my data supports the hypothesis,
      that's not me saying they're right. There's lots of rigorous standards for statistical sampling, and that's important
      because data can be misleading.
    </p>
    <p>
      I'm just here to demonstrate my ability to make REST-based API calls.
    </p>
  </div>



  <div ng-switch-when="10" class="animate-switch">
    <h2>Hypothesis: The Opioid Overdose Epidemic Especially Affects Women</h2>
    <p>
      During my research, I found <a href="http://www.asam.org/docs/default-source/advocacy/opioid-addiction-disease-facts-figures.pdf">this</a>
      article by the American Society of Addiction Medicine (ASAM). The article asserts that women are an at-risk demographic for opioid overdose.
      It provides lots of numbers and sources, and I'm inclined to believe it.
    </p>
  </div>


  <div>
    <md-button ng-click="model.dialogue_backward()">Prev</md-button>
    <md-button ng-click="model.dialogue_forward()">Next</md-button>
  </div>


</div>
