<style>

  .graph-window table {
    margin: 0 2em 0 2em;
  }

  .graph-window table tr > * {
    padding: 0 5px 0 5px;
  }
  .graph-window table td {
    border: 1px solid white;
    text-align: justify;
  }
  .graph-window th {
    font-size: smaller;
  }

  table.age-table {

  }

  table.demographics-table {

  }

</style>

<div flex layout="row" layout-wrap layout-align="space-between center" class="graph-window">
  <table flex="40" class="age-table">
    <thead>
      <tr>
        <th>Race</th>
        <th>19-29</th>
        <th>30-39</th>
        <th>40-49</th>
        <th>50-59</th>
        <th>60+</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>White</td>
        <td>{{model.connecticutDemographics.white.age_group['19_29']}}</td>
        <td>{{model.connecticutDemographics.white.age_group['30_39']}}</td>
        <td>{{model.connecticutDemographics.white.age_group['40_49']}}</td>
        <td>{{model.connecticutDemographics.white.age_group['50_59']}}</td>
        <td>{{model.connecticutDemographics.white.age_group['60plus']}}</td>
      </tr>
      <tr>
        <td>Black</td>
        <td>{{model.connecticutDemographics.black.age_group['19_29']}}</td>
        <td>{{model.connecticutDemographics.black.age_group['30_39']}}</td>
        <td>{{model.connecticutDemographics.black.age_group['40_49']}}</td>
        <td>{{model.connecticutDemographics.black.age_group['50_59']}}</td>
        <td>{{model.connecticutDemographics.black.age_group['60plus']}}</td>
      </tr>
      <tr>
        <td>Hispanic</td>
        <td>{{model.connecticutDemographics.hispanic.age_group['19_29']}}</td>
        <td>{{model.connecticutDemographics.hispanic.age_group['30_39']}}</td>
        <td>{{model.connecticutDemographics.hispanic.age_group['40_49']}}</td>
        <td>{{model.connecticutDemographics.hispanic.age_group['50_59']}}</td>
        <td>{{model.connecticutDemographics.hispanic.age_group['60plus']}}</td>
      </tr>
      <tr>
        <td>Other</td>
        <td>{{model.connecticutDemographics.other.age_group['19_29']}}</td>
        <td>{{model.connecticutDemographics.other.age_group['30_39']}}</td>
        <td>{{model.connecticutDemographics.other.age_group['40_49']}}</td>
        <td>{{model.connecticutDemographics.other.age_group['50_59']}}</td>
        <td>{{model.connecticutDemographics.other.age_group['60plus']}}</td>
      </tr>
    </tbody>
  </table>


  <table flex="40" class="demographics-table">
    <thead>
      <tr>
        <th>Race</th>
        <th>Male</th>
        <th>Female</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>White</td>
        <td> {{model.connecticutDemographics.white.gender.Male}} </td>
        <td> {{model.connecticutDemographics.white.gender.Female}} </td>
        <td> {{model.connecticutDemographics.white.total}} </td>
      </tr>
      <tr>
        <td>Black</td>
        <td> {{model.connecticutDemographics.black.gender.Male}} </td>
        <td> {{model.connecticutDemographics.black.gender.Female}} </td>
        <td> {{model.connecticutDemographics.black.total}} </td>
      </tr>
      <tr>
        <td>Hispanic</td>
        <td> {{model.connecticutDemographics.hispanic.gender.Male}} </td>
        <td> {{model.connecticutDemographics.hispanic.gender.Female}} </td>
        <td> {{model.connecticutDemographics.hispanic.total}} </td>
      </tr>
      <tr>
        <td>Other</td>
        <td> {{model.connecticutDemographics.other.gender.Male}} </td>
        <td> {{model.connecticutDemographics.other.gender.Female}} </td>
        <td> {{model.connecticutDemographics.other.total}} </td>
      </tr>
    </tbody>
  </table>

</div>

<md-button ng-click="model.queryConnecticut()">Load data</md-button>
<md-button ng-click="model.consolidateConnecticutData()">Display data</md-button>
