<style>

  .whole-screen {
    height: 80vh;
    margin: 5vh 15vw 5vh 15vw;
  }

  .navigator {
    border: 1px solid blue;
    margin: .5em 0 .5em 0;
  }

  .content-container {
    border: 1px solid red;
  }


</style>

<div class="whole-screen" ng-controller="View1Ctrl as vm" flex layout="column" layout-align="center stretch" >

  <div class="navigator" flex="10" layout="row" layout-align="center center">
    <md-button ng-click="vm.dialogue_backward()" ng-hide="vm.get_dialogue_position() < 1">prev</md-button>
    <md-input-container>
      <label>slide</label>
      <md-select ng-model="vm.PLACEHOLDER"> <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
          <md-select-label>Select a state</md-select-label>
          <md-option ng-value="opt" ng-repeat="opt in options">{{ opt }}</md-option>
      </md-select>
    </md-input-container>
    <md-button ng-click="vm.dialogue_forward()" ng-hide="vm.get_dialogue_position() > 5">next</md-button>
  </div>

  <div class="content-container" flex="90">
    <dialogue-directive model="vm.dialogue_object"></dialogue-directive>
  </div>




</div>
