<style>
  .app-container {
    height: 100vh;
  }

</style>

<div ng-controller="View1Ctrl as vm" class="site-wrapper">
  <div class="site-wrapper-inner app-container">
    <div class="cover-container">

      <div class="inner cover">
          <dialogue-directive model="vm.dialogue_object"></dialogue-directive>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <md-button ng-click="vm.dialogue_backward()" ng-hide="vm.get_dialogue_position() < 1">prev</md-button>
          <md-button ng-click="vm.dialogue_forward()" ng-hide="vm.get_dialogue_position() > 5">next</md-button>
        </div>
      </div>

    </div>
  </div>

</div>
